<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <header>
    <style type="text/css">
      .top {
        display: flex;
      }
    </style>
  </header>
  <body>
    <div th:fragment="header">
      <!-- top -->
      <el-header class="top" height="60px" style="display: flex;">
        <div style="display: flex;">
          <h3 class="top-t">协同平台</h3>
          <el-menu
            :default-active="activeIndex2"
            class="el-menu-demo"
            mode="horizontal"
            @select="handleSelect"
            background-color="#303133"
            text-color="#fff"
            active-text-color="#ffd04b"
          >
            <el-menu-item index="1"
              ><a th:href="@{/redirectToMain}">首页</a></el-menu-item
            >
            <el-menu-item index="2"
              ><a th:href="@{/projects}">项目信息</a></el-menu-item
            >
            <el-menu-item index="3"
              ><a th:href="@{/userProjects}">人员工作信息</a></el-menu-item
            >
            <el-menu-item index="4"
              ><a th:href="@{/professions}">专业协同</a></el-menu-item
            >
            <el-menu-item index="5"
              ><a th:href="@{/users}">人员信息管理</a></el-menu-item
            >
            <el-menu-item index="6"
              ><a th:href="@{/notices}">通知</a></el-menu-item
            >
          </el-menu>
        </div>

        <el-dropdown class="top-head">
          <div class="head-box dvm">
            <el-avatar size="medium"  src="https://cube.elemecdn.com/3/7c/3ea6beec64369c2642b92c6726f1epng.png"></el-avatar>
            <span
              class="dvm"
            >[[${session.loginUser}]]</span>
          </div>
          <el-dropdown-menu slot="dropdown" class="top-head-ul">
              <el-dropdown-item
                ><a th:href="@{/collect/myFavModels}"
                  >修改密码</a
                ></el-dropdown-item
              >
              <el-dropdown-item 
                ><a th:href="@{/myExcel}">退出登录</a></el-dropdown-item
              >
              <el-dropdown-item
                ><a th:href="@{/boats}">其他</a></el-dropdown-item
              >
          </el-dropdown-menu>
        </el-dropdown>
      </el-header>
    </div>
  </body>
</html>
