<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huag.collaboration.mapper.ProjectSubitemMapper">

    <select id="findByProjectId" resultType="com.huag.collaboration.entities.ProjectSubitem">
        SELECT * FROM projectSubitem where projectId = #{projectId} and (deltag <![CDATA[ <> ]]> '1' or deltag is null)
    </select>

    <insert id="deleteById">
        update projectSubitem set deltag = 1 where id = #{id}
    </insert>

</mapper>