<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huag.collaboration.mapper.ProjectMapper">

    <!--嵌套结果集的方式，使用collection标签定义关联的集合类型的属性封装规则  -->
    <resultMap type="com.huag.collaboration.entities.Project" id="myProject">
        <id column="id" property="id"/>
        <!--
            collection定义关联集合类型的属性的封装规则
            ofType:指定集合里面元素的类型
        -->
        <collection property="projectSubitems" ofType="com.huag.collaboration.entities.ProjectSubitem">
            <!-- 定义这个集合中元素的封装规则 -->
            <id column="id" property="id"/>
            <!--<result column="last_name" property="lastName"/>-->
        </collection>
    </resultMap>

    <resultMap type="com.huag.collaboration.entities.Project" id="myProject1">
        <id column="id" property="id"/>
        <result column="projectNum"  property="projectNum"/>
        <result column="projectName"  property="projectName"/>
        <result column="designPhase"  property="designPhase"/>
        <result column="startTime" property="startTime"/>
        <result column="stopTime" property="stopTime"/>
        <result column="leftTime" property="leftTime"/>
        <result column="currentProcess" property="currentProcess"/>
        <result column="emergencyLevel" property="emergencyLevel"/>
        <result column="createTime" property="createTime"/>
        <result column="updateTime" property="updateTime"/>
        <result column="deltag" property="deltag"/>
    </resultMap>


    <select id="findByProjectName" resultType="com.huag.collaboration.entities.Project">
        SELECT * FROM project where projectName like "%"#{projectName}"%" and (deltag <![CDATA[ <> ]]> '1' or deltag is null)
    </select>

    <select id="findProjectByDepartmentId" resultType="com.huag.collaboration.entities.Project">
        SELECT a.id, a.projectNum, a.projectName, a.designPhase, a.principalId, b.username principal, a.chiefEngineerId, c.username chiefEngineer,
                       a.startTime, a.stopTime, a.leftTime, a.currentProcess, a.emergencyLevel, a.createTime, a.updateTime,
                       a.departmentName, d.departmentName departmentName
         FROM project a, user b, user c, department d
         where
                (a.deltag <![CDATA[ <> ]]> '1' or a.deltag is null)
              and
                (b.deltag <![CDATA[ <> ]]> '1' or b.deltag is null)
              and
                (c.deltag <![CDATA[ <> ]]> '1' or c.deltag is null)
              and
                (d.deltag <![CDATA[ <> ]]> '1' or d.deltag is null)
              and
                a.principalId = b.id
              and
                a.chiefEngineerId = c.id
              and
                a.departmentId = d.id

              and a.departmentId = #{departmentId}
    </select>

    <select id="findByProjectNameAndDeptId" resultType="com.huag.collaboration.entities.Project">
        SELECT a.id, a.projectNum, a.projectName, a.designPhase, a.principalId, b.username principal, a.chiefEngineerId, c.username chiefEngineer,
                       a.startTime, a.stopTime, a.leftTime, a.currentProcess, a.emergencyLevel, a.createTime, a.updateTime,
                       a.departmentName, d.departmentName departmentName
         FROM project a, user b, user c, department d
         where
                (a.deltag <![CDATA[ <> ]]> '1' or a.deltag is null)
              and
                (b.deltag <![CDATA[ <> ]]> '1' or b.deltag is null)
              and
                (c.deltag <![CDATA[ <> ]]> '1' or c.deltag is null)
              and
                (d.deltag <![CDATA[ <> ]]> '1' or d.deltag is null)
              and
                a.principalId = b.id
              and
                a.chiefEngineerId = c.id
              and
                a.departmentId = d.id

              and a.projectName like "%"#{projectName}"%"
              and a.departmentId = #{departmentId}
    </select>

    <select id="findAll" resultType="com.huag.collaboration.entities.Project">
        SELECT a.id, a.projectNum, a.projectName, a.designPhase, a.principalId, b.username principal, a.chiefEngineerId, c.username chiefEngineer,
               a.startTime, a.stopTime, a.leftTime, a.currentProcess, a.emergencyLevel, a.createTime, a.updateTime,
               a.departmentName, d.departmentName departmentName
         FROM project a, user b, user c, department d
         where
                (a.deltag <![CDATA[ <> ]]> '1' or a.deltag is null)
              and
                (b.deltag <![CDATA[ <> ]]> '1' or b.deltag is null)
              and
                (c.deltag <![CDATA[ <> ]]> '1' or c.deltag is null)
              and
                (d.deltag <![CDATA[ <> ]]> '1' or d.deltag is null)
              and
                a.principalId = b.id
              and
                a.chiefEngineerId = c.id
              and
                a.departmentId = d.id
    </select>

    <resultMap id="findAllInMap" type="com.huag.collaboration.entities.Project" >
        <result column="projectName" property="projectName" jdbcType="VARCHAR" />
        <result column="currentProcess" property="currentProcess" jdbcType="INTEGER" />
    </resultMap>

    <select id="findAllIn" resultMap="findAllInMap" statementType="STATEMENT">
        SELECT projectName, currentProcess as currentProcess FROM project
    </select>

    <select id="findById" resultType="com.huag.collaboration.entities.Project">
        SELECT a.id, a.projectNum, a.projectName, a.designPhase, a.principalId, b.username principal, a.chiefEngineerId, c.username chiefEngineer,
               a.startTime, a.stopTime, a.leftTime, a.currentProcess, a.emergencyLevel, a.createTime, a.updateTime,
               a.departmentName, d.departmentName departmentName
         FROM project a, user b, user c, department d
         where
                (a.deltag <![CDATA[ <> ]]> '1' or a.deltag is null)
              and
                (b.deltag <![CDATA[ <> ]]> '1' or b.deltag is null)
              and
                (c.deltag <![CDATA[ <> ]]> '1' or c.deltag is null)
              and
                (d.deltag <![CDATA[ <> ]]> '1' or d.deltag is null)
              and
                a.principalId = b.id
              and
                a.chiefEngineerId = c.id
              and
                a.departmentId = d.id

              and
                a.id=#{id}
    </select>

    <insert id="deleteById">
        update project set deltag = 1, updateTime = now() where id = #{id}
    </insert>

    <insert id="insert" parameterType="com.huag.collaboration.entities.Project" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO project(projectNum, projectName, designPhase, startTime, stopTime, leftTime, currentProcess, emergencyLevel, createTime, updateTime, deltag)
         VALUES (#{projectNum}, #{projectName}, #{designPhase}, #{startTime}, #{stopTime}, #{leftTime}, #{currentProcess}, #{emergencyLevel}, now(), now(), #{deltag})
    </insert>

    <insert id="update">
        update project set projectNum = #{projectNum}, projectName = #{projectName}, designPhase = #{designPhase},
        startTime = #{startTime}, stopTime = #{stopTime}, leftTime = #{leftTime}, currentProcess = #{currentProcess},
         emergencyLevel = #{emergencyLevel}, deltag = #{deltag}, updateTime = now() where id = #{id}
    </insert>

</mapper>