<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huag.collaboration.mapper.ProjectMapper">

    <!--嵌套结果集的方式，使用collection标签定义关联的集合类型的属性封装规则  -->
    <resultMap type="com.huag.collaboration.entities.Project" id="myProject">
        <id column="id" property="id"/>
        <!--
            collection定义关联集合类型的属性的封装规则
            ofType:指定集合里面元素的类型
        -->
        <collection property="projectSubitems" ofType="com.huag.collaboration.entities.ProjectSubitem">
            <!-- 定义这个集合中元素的封装规则 -->
            <id column="id" property="id"/>
            <!--<result column="last_name" property="lastName"/>-->
        </collection>
    </resultMap>

    <resultMap type="com.huag.collaboration.entities.Project" id="myProject1">
        <id column="id" property="id"/>
        <result column="projectNum"  property="projectNum"/>
        <result column="projectName"  property="projectName"/>
        <result column="designPhase"  property="designPhase"/>
        <result column="startTime" property="startTime"/>
        <result column="stopTime" property="stopTime"/>
        <result column="leftTime" property="leftTime"/>
        <result column="currentProcess" property="currentProcess"/>
        <result column="emergencyLevel" property="emergencyLevel"/>
        <result column="createTime" property="createTime"/>
        <result column="updateTime" property="updateTime"/>
        <result column="deltag" property="deltag"/>
    </resultMap>


    <select id="findByProjectName" resultType="com.huag.collaboration.entities.Project">
        SELECT * FROM project where projectName like "%"#{projectName}"%" and (deltag <![CDATA[ <> ]]> '1' or deltag is null)
    </select>

    <select id="findByProjectUserName" resultType="com.huag.collaboration.entities.Project">
        select t1.projectName, t2.username as principal, t3.username chiefEngineer,
        t1.startTime, t1.stopTime, t1.leftTime
        from
        (
        select * from projectSummary
        where id in
        (
        select projectSummaryId
        from project
        where principalId = (select id from user where cardId =  #{username})
        or chiefEngineerId = (select id from user where cardId = #{username})
        )
        or principalId = (select id from user where cardId = #{username})
        or chiefEngineerId = (select id from user where cardId = #{username})
        ) t1
        left join (select * from user) t2
        on t1.principalId = t2.id
        left join (select * from user) t3
        on t1.chiefEngineerId = t3.id
        order by t1.id asc
    </select>



    <select id="findByAdmin" resultType="com.huag.collaboration.entities.Project">
        select t1.projectName, t2.username as principal, t3.username chiefEngineer,
        t1.startTime, t1.stopTime, t1.leftTime
        from
        projectSummary t1
        left join (select * from user) t2
        on t1.principalId = t2.id
        left join (select * from user) t3
        on t1.chiefEngineerId = t3.id
        where (t1.deltag <![CDATA[ <> ]]> '1' or t1.deltag is null)
        order by t1.id asc
    </select>

    <select id="findProjectByDepartmentId" resultType="com.huag.collaboration.entities.Project">
        select
        projectTemp2.id, projectTemp2.projectSummaryId, projectTemp2.projectNum, projectTemp2.projectName, projectTemp2.designPhase,
        projectTemp2.principalId, projectTemp2.principalName principal, projectTemp2.chiefEngineerId, u2.username chiefEngineer,
        projectTemp2.startTime, projectTemp2.stopTime, projectTemp2.leftTime, projectTemp2.currentProcess, projectTemp2.emergencyLevel,
        projectTemp2.createTime, projectTemp2.updateTime, projectTemp2.departmentId, projectTemp2.departmentName, projectTemp2.state, projectTemp2.deltag
        from
        (
                select projectTemp.*, u1.username principalName from
                    (
                            select
                                a.id, a.projectSummaryId, b.projectNum, b.projectName, b.designPhase,
                                a.principalId, a.principal, a.chiefEngineerId, a.chiefEngineer,
                                a.startTime, a.stopTime, a.leftTime, a.currentProcess, a.emergencyLevel,
                                a.createTime, a.updateTime, a.departmentId, a.departmentName, a.state, a.deltag
                            from
                                project a left join projectSummary b on a.projectSummaryId = b.id
                            where
                                (a.deltag <![CDATA[ <> ]]> '1' or a.deltag is null)
                            and
                                (b.deltag <![CDATA[ <> ]]> '1' or b.deltag is null)
                    ) as projectTemp left join user u1
                      on projectTemp.principalId = u1.id
                where
                    (projectTemp.deltag <![CDATA[ <> ]]> '1' or projectTemp.deltag is null)
                and
                    (u1.deltag <![CDATA[ <> ]]> '1' or u1.deltag is null)
        ) as projectTemp2 left join user u2
        on projectTemp2.chiefEngineerId = u2.id
        where
            (projectTemp2.deltag <![CDATA[ <> ]]> '1' or projectTemp2.deltag is null)
        and
            (u2.deltag <![CDATA[ <> ]]> '1' or u2.deltag is null)
        and
            (projectTemp2.departmentId = #{departmentId})
    </select>

    <select id="findProjectsByProjectSummaryId" resultType="com.huag.collaboration.entities.Project">
    select
        temp.id, temp.projectSummaryId, temp.projectNum, temp.projectName, temp.designPhase,
        temp.principalId, temp.principal, temp.chiefEngineerId, temp.chiefEngineer,
        temp.startTime, temp.stopTime, temp.leftTime, temp.currentProcess, temp.emergencyLevel,
        temp.createTime, temp.updateTime, dept.id departmentId, dept.departmentName, temp.state, temp.deltag
        from (

                select
                projectTemp2.id, projectTemp2.projectSummaryId, projectTemp2.projectNum, projectTemp2.projectName, projectTemp2.designPhase,
                projectTemp2.principalId, projectTemp2.principalName principal, projectTemp2.chiefEngineerId, u2.username chiefEngineer,
                projectTemp2.startTime, projectTemp2.stopTime, projectTemp2.leftTime, projectTemp2.currentProcess, projectTemp2.emergencyLevel,
                projectTemp2.createTime, projectTemp2.updateTime, projectTemp2.departmentId, projectTemp2.departmentName, projectTemp2.state, projectTemp2.deltag
                from
                (
                        select projectTemp.*, u1.username principalName from
                            (
                                    select
                                        a.id, a.projectSummaryId, b.projectNum, b.projectName, b.designPhase,
                                        a.principalId, a.principal, a.chiefEngineerId, a.chiefEngineer,
                                        a.startTime, a.stopTime, a.leftTime, a.currentProcess, a.emergencyLevel,
                                        a.createTime, a.updateTime, a.departmentId, a.departmentName, a.state, a.deltag
                                    from
                                        project a left join projectSummary b on a.projectSummaryId = b.id
                                    where
                                        (a.deltag <![CDATA[ <> ]]> '1' or a.deltag is null)
                                    and
                                        (b.deltag <![CDATA[ <> ]]> '1' or b.deltag is null)
                            ) as projectTemp left join user u1
                              on projectTemp.principalId = u1.id
                        where
                            (projectTemp.deltag <![CDATA[ <> ]]> '1' or projectTemp.deltag is null)
                        and
                            (u1.deltag <![CDATA[ <> ]]> '1' or u1.deltag is null)
                ) as projectTemp2 left join user u2
                on projectTemp2.chiefEngineerId = u2.id
                where
                    (projectTemp2.deltag <![CDATA[ <> ]]> '1' or projectTemp2.deltag is null)
                and
                    (u2.deltag <![CDATA[ <> ]]> '1' or u2.deltag is null)

                and
                  (projectTemp2.projectSummaryId = #{projectSummaryId})
        ) as temp left join department dept on temp.departmentId = dept.id
    </select>

    <select id="findByProjectNameAndDeptId" resultType="com.huag.collaboration.entities.Project">
        select
        projectTemp2.id, projectTemp2.projectSummaryId, projectTemp2.projectNum, projectTemp2.projectName, projectTemp2.designPhase,
        projectTemp2.principalId, projectTemp2.principalName principal, projectTemp2.chiefEngineerId, u2.username chiefEngineer,
        projectTemp2.startTime, projectTemp2.stopTime, projectTemp2.leftTime, projectTemp2.currentProcess, projectTemp2.emergencyLevel,
        projectTemp2.createTime, projectTemp2.updateTime, projectTemp2.departmentId, projectTemp2.departmentName, projectTemp2.state, projectTemp2.deltag
        from
        (
                select projectTemp.*, u1.username principalName from
                    (
                            select
                                a.id, a.projectSummaryId, b.projectNum, b.projectName, b.designPhase,
                                a.principalId, a.principal, a.chiefEngineerId, a.chiefEngineer,
                                a.startTime, a.stopTime, a.leftTime, a.currentProcess, a.emergencyLevel,
                                a.createTime, a.updateTime, a.departmentId, a.departmentName, a.state, a.deltag
                            from
                                project a left join projectSummary b on a.projectSummaryId = b.id
                            where
                                (a.deltag <![CDATA[ <> ]]> '1' or a.deltag is null)
                            and
                                (b.deltag <![CDATA[ <> ]]> '1' or b.deltag is null)
                    ) as projectTemp left join user u1
                      on projectTemp.principalId = u1.id
                where
                    (projectTemp.deltag <![CDATA[ <> ]]> '1' or projectTemp.deltag is null)
                and
                    (u1.deltag <![CDATA[ <> ]]> '1' or u1.deltag is null)
        ) as projectTemp2 left join user u2
        on projectTemp2.chiefEngineerId = u2.id
        where
            (projectTemp2.deltag <![CDATA[ <> ]]> '1' or projectTemp2.deltag is null)
        and
            (u2.deltag <![CDATA[ <> ]]> '1' or u2.deltag is null)

        and projectTemp2.projectName like "%"#{projectName}"%"
        and projectTemp2.departmentId = #{departmentId}
    </select>

    <select id="findAll" resultType="com.huag.collaboration.entities.Project">
        select
        projectTemp2.id, projectTemp2.projectSummaryId, projectTemp2.projectNum, projectTemp2.projectName, projectTemp2.designPhase,
        projectTemp2.principalId, projectTemp2.principalName principal, projectTemp2.chiefEngineerId, u2.username chiefEngineer,
        projectTemp2.startTime, projectTemp2.stopTime, projectTemp2.leftTime, projectTemp2.currentProcess, projectTemp2.emergencyLevel,
        projectTemp2.createTime, projectTemp2.updateTime, projectTemp2.departmentId, projectTemp2.departmentName, projectTemp2.state, projectTemp2.deltag
        from
        (
                select projectTemp.*, u1.username principalName from
                    (
                            select
                                a.id, a.projectSummaryId, b.projectNum, b.projectName, b.designPhase,
                                a.principalId, a.principal, a.chiefEngineerId, a.chiefEngineer,
                                a.startTime, a.stopTime, a.leftTime, a.currentProcess, a.emergencyLevel,
                                a.createTime, a.updateTime, a.departmentId, a.departmentName, a.state, a.deltag
                            from
                                project a left join projectSummary b on a.projectSummaryId = b.id
                            where
                                (a.deltag <![CDATA[ <> ]]> '1' or a.deltag is null)
                            and
                                (b.deltag <![CDATA[ <> ]]> '1' or b.deltag is null)
                    ) as projectTemp left join user u1
                      on projectTemp.principalId = u1.id
                where
                    (projectTemp.deltag <![CDATA[ <> ]]> '1' or projectTemp.deltag is null)
                and
                    (u1.deltag <![CDATA[ <> ]]> '1' or u1.deltag is null)
        ) as projectTemp2 left join user u2
        on projectTemp2.chiefEngineerId = u2.id
        where
            (projectTemp2.deltag <![CDATA[ <> ]]> '1' or projectTemp2.deltag is null)
        and
            (u2.deltag <![CDATA[ <> ]]> '1' or u2.deltag is null)
    </select>

    <resultMap id="findAllInMap" type="com.huag.collaboration.entities.Project" >
        <result column="projectName" property="projectName" jdbcType="VARCHAR" />
        <result column="currentProcess" property="currentProcess" jdbcType="INTEGER" />
    </resultMap>

    <select id="findAllIn" resultMap="findAllInMap" statementType="STATEMENT">
        SELECT projectName, currentProcess as currentProcess FROM project
    </select>

    <select id="findById" resultType="com.huag.collaboration.entities.Project">
        select
        projectTemp2.id, projectTemp2.projectSummaryId, projectTemp2.projectNum, projectTemp2.projectName, projectTemp2.designPhase,
        projectTemp2.principalId, projectTemp2.principalName principal, projectTemp2.chiefEngineerId, u2.username chiefEngineer,
        projectTemp2.startTime, projectTemp2.stopTime, projectTemp2.leftTime, projectTemp2.currentProcess, projectTemp2.emergencyLevel,
        projectTemp2.createTime, projectTemp2.updateTime, projectTemp2.departmentId, projectTemp2.departmentName, projectTemp2.state, projectTemp2.deltag
        from
        (
                select projectTemp.*, u1.username principalName from
                    (
                            select
                                a.id, a.projectSummaryId, b.projectNum, b.projectName, b.designPhase,
                                a.principalId, a.principal, a.chiefEngineerId, a.chiefEngineer,
                                a.startTime, a.stopTime, a.leftTime, a.currentProcess, a.emergencyLevel,
                                a.createTime, a.updateTime, a.departmentId, a.departmentName, a.state, a.deltag
                            from
                                project a left join projectSummary b on a.projectSummaryId = b.id
                            where
                                (a.deltag <![CDATA[ <> ]]> '1' or a.deltag is null)
                            and
                                (b.deltag <![CDATA[ <> ]]> '1' or b.deltag is null)
                    ) as projectTemp left join user u1
                      on projectTemp.principalId = u1.id
                where
                    (projectTemp.deltag <![CDATA[ <> ]]> '1' or projectTemp.deltag is null)
                and
                    (u1.deltag <![CDATA[ <> ]]> '1' or u1.deltag is null)
        ) as projectTemp2 left join user u2
        on projectTemp2.chiefEngineerId = u2.id
        where
            (projectTemp2.deltag <![CDATA[ <> ]]> '1' or projectTemp2.deltag is null)
        and
            (u2.deltag <![CDATA[ <> ]]> '1' or u2.deltag is null)

          and
            projectTemp2.id=#{id}
    </select>

    <insert id="deleteById">
        update project set deltag = 1, updateTime = now() where id = #{id}
    </insert>

    <insert id="insert" parameterType="com.huag.collaboration.entities.Project" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO
            project(projectSummaryId, principalId, principal, chiefEngineerId, chiefEngineer, startTime, stopTime,
            leftTime, currentProcess, emergencyLevel, createTime, updateTime, departmentId, departmentName, deltag)
         VALUES
             (#{projectSummaryId}, #{principalId}, #{principal}, #{chiefEngineerId}, #{chiefEngineer}, #{startTime}, #{stopTime},
             #{leftTime}, #{currentProcess}, #{emergencyLevel}, now(), now(), #{departmentId} , #{departmentName}, #{deltag})
    </insert>

    <insert id="update">
        update project set
            projectSummaryId = #{projectSummaryId},
            principalId = #{principalId}, principal = #{principal}, chiefEngineerId = #{chiefEngineerId}, chiefEngineer = #{chiefEngineer},
            startTime = #{startTime}, stopTime = #{stopTime}, leftTime = #{leftTime}, currentProcess = #{currentProcess},
            emergencyLevel = #{emergencyLevel},  updateTime = now(), departmentId = #{departmentId},
            departmentName = #{departmentName}, deltag = #{deltag}
         where id = #{id}
    </insert>

</mapper>