<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huag.collaboration.mapper.TaskAssignmentMapper">

    <select id="findByProjectId" resultType="com.huag.collaboration.entities.TaskAssignment">

        select t4.id, t4.taskName, t4.finishedLevel, t4.taskLevel, t4.designer_u1 designer, t4.reviewer_u2 reviewer, t4.inspector_u3 inspector,  u4.username validationer,
        t4.startTime, t4.stopTime
        from
        (
            select t3.*, u3.username inspector_u3 from
            (
                select t2.*, u2.username reviewer_u2 from
                (
                    select t1.*, u1.username designer_u1
                    from taskAssignment t1 left join user u1 on t1.designerId = u1.id
                    where t1.projectId = #{projectId}
                    and
                    (t1.deltag <![CDATA[ <> ]]> '1' or t1.deltag is null)
                ) as t2 left join user u2 on t2.reviewerId = u2.id
            ) as t3 left join user u3 on t3.inspectorId = u3.id
        ) as t4 left join user u4 on t4.validationerId = u4.id
    </select>

    <insert id="insert" parameterType="com.huag.collaboration.entities.TaskAssignment" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO
            taskAssignment(
            taskName, projectId, finishedLevel, designerId, reviewerId, inspectorId, validationerId,
            designer, reviewer, inspector, validationer, departmentId, departmentName,
            taskLevel, startTime, stopTime, createtTime, updateTime, deltag)
         VALUES
             (#{taskName}, #{projectId}, #{finishedLevel}, #{designerId}, #{reviewerId}, #{inspectorId}, #{validationerId},
             #{designer}, #{reviewer}, #{inspector}, #{validationer}, #{departmentId}, #{departmentName},
             #{taskLevel}, #{startTime}, #{stopTime}, now(), now(), #{deltag})
    </insert>

    <select id="findById" resultType="com.huag.collaboration.entities.TaskAssignment">
        select * from taskAssignment where id = #{id}
    </select>

    <insert id="update">
        update taskAssignment set
        taskName = #{taskName}, projectId = #{projectId}, finishedLevel = #{finishedLevel},
        designerId = #{designerId}, reviewerId = #{reviewerId}, inspectorId = #{inspectorId}, validationerId = #{validationerId},
        designer = #{designer}, reviewer = #{reviewer}, inspector = #{inspector}, validationer = #{validationer},
        departmentId = #{departmentId}, departmentName = #{departmentName},
        taskLevel = #{taskLevel}, startTime = #{startTime}, stopTime = #{stopTime}, updateTime = now(),
        deltag = #{deltag}
        where id = #{id}
    </insert>


</mapper>