<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huag.collaboration.mapper.UserProjectMapper">

    <select id="findUserProjectByProjectNameAndDeptId" resultType="com.huag.collaboration.entities.mapping.UserProjectMapping">

    SELECT * from (

            SELECT
               b.username username, b.tripState tripState, e.projectName, e.designPhase, a.taskLevel, c.startTime, c.stopTime, c.currentProcess, a.role
            from
              user_project a, user b, project c, projectSummary e
            where

               a.userId = b.id
              and a.projectId = c.id
              and c.projectSummaryId = e.id
              and c.departmentId = #{departmentId}
              and (a.deltag <![CDATA[ <> ]]> '1' or a.deltag is null)
              and (b.deltag <![CDATA[ <> ]]> '1' or b.deltag is null)
              and (c.deltag <![CDATA[ <> ]]> '1' or c.deltag is null)
              and (e.deltag <![CDATA[ <> ]]> '1' or e.deltag is null)
		union

            SELECT u.username, u.tripState, ps.projectName, ps.designPhase, p.taskLevel, p.startTime, p.stopTime, p.currentProcess, 'principal'

            from user u, project p, projectSummary ps

            where
                 u.id = p.principalId
                and
                    p.projectSummaryId = ps.id
                and p.departmentId = #{departmentId}
                and (u.deltag <![CDATA[ <> ]]> '1' or u.deltag is null)
                and (p.deltag <![CDATA[ <> ]]> '1' or p.deltag is null)
                and (ps.deltag <![CDATA[ <> ]]> '1' or ps.deltag is null)

	    union

            SELECT u.username, u.tripState, ps.projectName, ps.designPhase, p.taskLevel, p.startTime, p.stopTime, p.currentProcess, 'chiefEngineer'

            from user u, project p, projectSummary ps

            where
                 u.id = p.chiefEngineerId
                and
                    p.projectSummaryId = ps.id
                and p.departmentId = #{departmentId}
                and (u.deltag <![CDATA[ <> ]]> '1' or u.deltag is null)
                and (p.deltag <![CDATA[ <> ]]> '1' or p.deltag is null)
                and (ps.deltag <![CDATA[ <> ]]> '1' or ps.deltag is null)

	 order by username asc
	 ) temp

	where username like "%"#{searchKey}"%"

    </select>

    <select id="findUserWithoutProjectsWhereUsersNotIn" resultType="com.huag.collaboration.entities.mapping.UserProjectMapping">
        SELECT
          username , tripState from user
          where
                  departmentId = #{departmentId}
              and username not in
                <foreach item="item" index="index" collection="usernameArray" open="(" separator="," close=")">
                    #{item}
                </foreach>
              and (deltag <![CDATA[ <> ]]> '1' or deltag is null)
    </select>


</mapper>