<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="asserts/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.css}" rel="stylesheet">
    <link href="asserts/css/dashboard.css" th:href="@{/asserts/css/dashboard.css}" rel="stylesheet">
    <link href="asserts/element2.10.1/index.css" th:href="@{/asserts/element2.10.1/index.css}" rel="stylesheet">
    <link href="asserts/css/myCSS.css" th:href="@{/asserts/css/myCSS.css}" rel="stylesheet">
    <link href="asserts/css/myManager.css" th:href="@{/asserts/css/myManager.css}" rel="stylesheet">
    <link href="asserts/css/myCutWord.css" th:href="@{/asserts/css/myCutWord.css}" rel="stylesheet">
</head>
<body>
<!--topbar-->
<nav  th:fragment="topbar">

    <div  id="topBar">
        <el-menu
                :default-active="activeIndex2"
                class="el-menu-demo"
                mode="horizontal"
                @select="handleSelect"
                background-color="#303133"
                text-color="#fff"
                active-text-color="#ffd04b">

            <h1 class="top-t" style="margin-top: 20px;margin-left: 10px; width: 550px;">中国知网大数据融合应用平台</h1>

            <el-menu-item index="1"><a th:href="@{/redirectToMain}" >首页</a></el-menu-item>
            <el-menu-item index="2"><a th:href="@{/projects}" >项目信息</a></el-menu-item>
            <el-menu-item index="3"><a th:href="@{/userProjects}" >人员工作信息</a></el-menu-item>
            <el-menu-item index="4"><a th:href="@{/professions}" >专业协同</a></el-menu-item>
            <el-menu-item index="5"><a th:href="@{/users}">人员信息管理</a></el-menu-item>
            <el-menu-item index="6"><a th:href="@{/notices}">通知</a></el-menu-item>

            <el-submenu index="7" style="margin-left: 600px">
                <template slot="title">[[${session.loginUser}]]</template>
                <el-menu-item index="7-1">修改密码</el-menu-item>
                <el-menu-item index="7-2">退出登录</el-menu-item>
                <el-menu-item index="7-3">其他</el-menu-item>
            </el-submenu>

        </el-menu>
    </div>


</nav>

<!--sidebar-->
<nav class="col-md-2 d-none d-md-block bg-light sidebar" id="sidebar">
    <div style="height: 80px"></div>
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" href="#" th:href="@{/projects}"
                   th:class="${activeUri=='projects'?'nav-link active':'nav-link'}" >
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home">
                        <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                        <polyline points="9 22 9 12 15 12 15 22"></polyline>
                    </svg>
                    项目信息 <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="#" th:href="@{/emps}"
                th:class="${activeUri=='emps'?'nav-link active':'nav-link'}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users">
                        <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                        <circle cx="9" cy="7" r="4"></circle>
                        <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
                        <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                    </svg>
                    人员信息
                </a>
            </li>

        </ul>
    </div>
</nav>

</body>
</html>