@header-height: 80px;
@chart-title-color: #ffffff;
@bg-color: #15131A;
@chart-bg: #26343B;

.container {
  height: 100%;
  width: 100%;
  background-color: @bg-color;
  .header {
    height: @header-height;
    padding: 16px 16px 0;
    .head-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100%;
      background-color: @chart-bg;
      .logo {
        border: 2px solid #DBB019;
        width: 125px;
        height: 40px;
        color: #DBB019;
        line-height: 40px;
        text-align: center;
      }
      span {
        font-size: 28px;
        font-weight: 600;
        color: @chart-title-color;
        margin-left: 20px;
        &:last-child {
          font-size: 14px;
          margin-right: 16px;
        }
      }
      .date {
        color: #747ED4;
      }
    }
  }
  .main {
    height: calc(100% - @header-height);
    display: flex;

    .left,
    .right {
      padding: 8px 8px 8px 16px;
      display: flex;
      flex-direction: column;
      .chart-container {
        margin: 8px 0;
        flex: auto;
        background-color: @chart-bg;
        header {
          height: 46px;
          line-height: 46px;
          color: @chart-title-color;
          padding: 0 10px;
          font-weight: 600;
          font-size: 18px;
        }
        section {
          width: 100%;
          height: calc(100% - 46px);
        }
      }
      // border: 1px solid #ddd;
    }
    .left {
      width: 33%;
      // .chart-container {
        // height: 15%;
      // }
      .left-bottom {
        background-color:@bg-color;
      }
    }
    .center {
      width: 33%;
      margin: 0px 8px;
      .chart-container {
        height: calc(33.3vh - 48px);
        background-color: @chart-bg;
        margin: 16px 0;
        header {
          height: 46px;
          line-height: 46px;
          color: @chart-title-color;
          padding: 0 10px;
          font-weight: 600;
          font-size: 18px;
        }
        section {
          width: 100%;
          height: calc(100% - 46px);
        }
      }
    }
    .right {
      width: 33%;
      padding: 8px 16px 8px 8px;
      .chart-container {
        &:first-child {
          flex: 1;
        }
        &:last-child {
          flex: 1;
        }
      }
      .right-top {
        background-color:@bg-color;
      }
      .right-bottom {
        display: flex;
        > div {
          width: 100%;
          background-color: @chart-bg;
          /* &:first-child {
            margin-right: 8px;
          } */
        }
      }
      .right-bottom.chart-container {
        background-color: transparent;
      }
    }
    .left-bottom, .right-top {
      display: flex;
      justify-content: space-between;
      background-color:@bg-color;
      > div {
        // width: calc(50% - 8px);
        flex: auto;
        background-color: @chart-bg;
      }
    }
    .small-col {
      height: 100%;
      > section {
        display: flex;
      }
    }
  }
}

.width-50 {
  width: 50% !important;
}
.width-60 {
  width: 60% !important;
}
.width-40 {
  width: 40% !important;
}

.remaining-days {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: #ffffff;
  align-items: center;
  justify-content: space-around;
  padding: 15px;
  > div {
    width: 100%;
    color: @chart-title-color;
    padding: 0;
    font-size: 13px;
    font-weight: 600;
    margin-right: 10px;
    span {
      text-align: center;
      font-size: 15px;
    }
  }
  .num{
    display: inline;
    text-align: right;
    margin-right: 35px;
    float: right;
  }
}
.cost {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #ffffff;
  .cost-item {
    text-align: center;
    .title {
      font-size: 13px;
    }
    .value {
      font-size: 18px;
      font-weight: bold;
    }
  }
}
.sum-shui {
  color: #ffffff;
  text-align: center;
  span {
    font-weight: bold;
    font-size: 18px;
  }
}


@media screen and (max-width: 1920px) {
  .container {
    .main {
      .left, .right {
        .chart-container {
          header {
            height: 30px;
            line-height: 30px;
            color: @chart-title-color;
            padding: 0 10px;
            font-weight: 600;
            font-size: 16px;
          }
          section {
            height: calc(50vh - 60px);
          }
        }
      }
      .left {
        .chart-container {
          section {
            height: calc(33vh - 180px);
          }
          
        }
        .left-bottom {
          section {
            height: calc(33vh - 0px);
          }
        }
      }
      /* .small-col {
        height: 280px;
      } */
    }
  }
}
