#app .el-scrollbar__wrap {
  overflow-x: hidden;
}

.dsource-wrap,
.el-container {
  height: 100%;
}
.el-aside {
  /* background-color: #F2F2F4; */
  height: 100%;
  border-right: 1px solid #eeeeee;
  box-sizing: border-box;
}
.manager-nav {
  padding: 0 0 20px;
  margin-top: 10px;
}
.manager-nav li {
  height: 30px;
  padding: 5px 30px;
  line-height: 30px;
  cursor: pointer;
  border-bottom: 1px solid #eeeeee;
}
.manager-nav li.active {
  background: #409eff;
  color: #ffffff;
}
.navbar {
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
}
.navbar span {
  width: 220px;
  height: 30px;
  font-size: 13px;
}
.ds-table-wrap {
  padding: 0 30px 30px;
}
.txtCenter {
  text-align: center;
}
.pagination {
  margin: 15px;
}
.el-table a {
  text-decoration: none;
}
.project-title {
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 10px 0 15px;
  border-bottom: 1px solid #eeeeee;
}
.project-title > span {
  font-weight: 600;
}
.table-operate {
  display: flex;
  justify-content: space-between;
}


.el-drawer__header span:focus {
  outline: none;
}

#chart {
  height: 500px;
}
#chart svg{
  width: 100%;
  height: 100%;
}
#chart svg > g {
  width: 100%;
  height: 100%;
  transform: translate(100px, 10px);
}
#chart svg .label {
  transform: translate(-15px, -10px);
  font-size: 13px;
}
.timeline-content header div {
  display: inline-block;
  width: 70px;
  font-weight: 600;
}
.timeline-content>div {
  margin-top: 10px;
  font-size: 13px;
}